### Everywhere ###
node_modules/
secrets/
SQL/
docker-stack-dev.yaml
hashPassword.js
SETUP.md
Makefile
SSH-motowear.md

### services/nextjs ###
.next/
.pnpm-store/
migrations/
postgresErrorCodes.txt

### services/nginx ###
nginx-development.conf
